{% extends 'inteb/base.html' %}
{% load static %}

{% block content %}

<div class="block1">
<form action="{% url 'clients:client_staff_edit' client_staff.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
    {{ edit_form.as_table }}
    </table>
    <p class="text-muted">Создан: {{client_staff.created|date:"d-m-Y H:i:s "}} / Обновлен: {{ client_staff.updated|date:"d-m-Y H:i:s" }}</p>
    <p><button type="submit" class="btn btn-success">Сохранить</button></p>

</form>
</div>
{% endblock %}